# Compiled class files
*.class

# WAV audio recordings
*.wav

# CDR output files
*.cdr
*.csv

# IDE files
.idea/
*.iml

# OS files
.DS_Store

DatabaseConnection.java

*.jar
/ChargingPortal/target/
ChargingPortal/target/
