<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0"
         metadata-complete="true">

    <listener>
        <listener-class>AppLifecycleListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/api/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AsteriskAgiServlet</servlet-name>
        <servlet-class>AsteriskAgiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsteriskAgiServlet</servlet-name>
        <url-pattern>/api/agi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>CallServlet</servlet-name>
        <servlet-class>CallServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CallServlet</servlet-name>
        <url-pattern>/api/calls/*</url-pattern>
    </servlet-mapping>
</web-app>
